<p id="notice"></p>

<p>
  <h2><%= @user.username %>
  <% if @user.closed? %>
    <span class="badge badge-info">account closed</span>
  <% end %>
  </h2>
</p>

<% if current_user.admin? %>
  <% if @user.closed? %>
    <%= link_to "open account", toggle_active_user_path(@user.id), method: :post, class: "btn btn-success" %>
  <% else %>
    <%= link_to "close account", toggle_active_user_path(@user.id), method: :post, class: "btn btn-danger" %>
  <% end %>
<% end %>

<p>
<b>member of</b>
<ul>
  <% @confirmed_memberships.each do |beer_club| %>
    <li><%= link_to beer_club, beer_club %></li>
  <% end %>
</ul>
</p>

<p>
<b>applies membership of</b>
<ul>
  <% @applications.each do |beer_club| %>
    <li><%= link_to beer_club, beer_club %></li>
  <% end %>
</ul>
</p>

<h3>ratings</h3>

<p><% if @user.ratings.empty? %>
 user has not yet given rates!
<% else %>
  <%= %"Has made #{@user.ratings.length} #{'rating'.pluralize(@user.ratings.length)}, avegage #{@user.average_rating}" %>
<% end %>
</p>

<ul>
 <% @user.ratings.each do |rating| %>
    <li> <%= rating %> 
          <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
 <% end %>
</ul>

<% if @user == current_user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
