<p id="notice"></p>

<h2>List of ratings</h2>

<p> Number of ratings: <%= @ratings.count %> </p>

 <div class="row">
    <div class="col-sm">
    <h3>Best beers</h3>
    <%= render 'list', items: @best_beers %>
    </div>
    <div class="col-sm">
    <h3>Best breweries</h3>
    <%= render 'list', items: @best_breweries %>
    </div>
    <div class="col-sm">
    </div>
    </div>
<b>recent ratings</b>
<ul>
 <% @last_three.each do |rating| %>
    <li> <%= rating.beer.name %> by <%= link_to rating.user.username, rating.user %> at <%= rating.created_at %></li>
 <% end %>
</ul>

<% if !current_user.nil? %>
<%= link_to "New raiting", new_rating_path %>
<% end %>